:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: font-family: 'Raleway', sans-serif;
   --main-color: #2196F3;
   --black-color:#212121;
   --white-color:#FFFFFF;
   --address-color:#757575;
   --description-color:#2F303A;
   --crew-background: #F5F4FA;
}
 
body {
font-family: var(--main-font);
color:var(--black-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
    padding: 0;
}



/* ============ COMPONENTS =========== */
.header-logo {
    color: var(--black-color);
}
.footer-logo {
    color: var(--white-color);
}

/* ============ END COMPONENTS =========== */

/* ============ HEADER =========== */

.container {
    width: 1200px;
    margin: 0 auto;
}

.header {
    border-bottom: 1px solid #ECECEC;
}

.main-text {
display: block;
text-align: center;
width: 696px;
height: 120px;


}

img {
    display: block;
}

.list {
    list-style: none;
}
.link {
    text-decoration: none;
}

.header .container {
    display: flex;
    align-items: center;
}


.navigation {
    display: flex;
}

.nav-link:not(:last-child) {
    margin-right: 46px;
}

.nav-list {
    display:flex;
    align-items: center;
}

.mail-address {
    margin-left: auto;
    margin-right: 50px;
}

.main-section {
    padding: 200px 0 200px 0;
    flex-direction:column;
    display: flex;
    align-items: center;
    height: 600px;
}

.main-text {
    margin-bottom: 30px;
    font-size: 44px;
    display: block;
    align-items: center;
}

.main-button  {
    display: block;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    border-style: none;
    border-radius: 4px;
}

.description {
    display: block;

}

.company-work{
    display: flex;
    justify-content: space-evenly;
}

.company-work-list {
    list-style-type: none;
    
}

.company-work-img {
    width: 370px;
    height: 294px;
    
}

.section {
    padding: 94px 0px;
   
}

.second-heading {
    margin-bottom: 50px;
}

.what-we-do{
     text-align: center;
}

.section-gallery {
     padding: 94px 0px;
    background-color:var(--crew-background);
    display:block
}


.gallery {
    display: flex;
    justify-content: center;
    
}

.gallery-list {
    background-color: var(--white-color);
    list-style-type:none;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
    width: 270px;
    height: 368px
}

.gallery-list:not(:last-child) {
    margin-right:30px
}

.gallery-photo {
width: 270px;
height: 260px;
}

.section-footer {
    padding: 60px 0 60px;
}

.contact-list {
    list-style-type:none;
}

.contact-list-item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-heading {
    margin-bottom: 20px;
}

.btn-box {
    display: flex;

}

.button-list {
    list-style-type: none;

}

.btn-box {
    justify-content: center;
    padding: 94px 0 50px;
}


.btn-item {
    width: 93px;
    height: 38px;
    border-radius: 4px;
    border: none;
}

.button-list:not(:last-child) {
    margin-right: 8px;
}

.section-img {
    display: flex;
}

.img-list {
    list-style-type: none;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.photo-item {
    width: 370px;
    height: 294px;
}

.img-box {
    display: flex;
    flex-wrap: wrap;
}

.img-list:not(:last-child) {
    margin-right: 30px;
}

.text-border {
    width: 370px;
    padding: 20px 24px 24px;
    border: 1px solid #EEEEEE;
}


.img-name {
    width: 322px;
    height: 36px;
    padding-bottom: 4px;
}

.function {
    width: 322px;
    height: 30px;
}


.navigation-logo{
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.192;
letter-spacing: 0.03em;
text-decoration: none;
color: var(--main-color);
margin-right: 93px;
padding: 24px 0px 25px;
}
.nav-link-item,
.mail-address {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color: var(--black-color);
    
    
}

.phone-number,
.mail-address {
    color:var(--address-color);
    display: flex;
    align-items: center;
    
}

.nav-link-item:hover,
.nav-link-item:focus,
.mail-address:hover,
.mail-address:focus,
.phone-number:hover,
.phone-number:focus {
    color: var(--main-color);
}

.icon-mail {
    display:block ;
    margin-right: 10px;
}

.icon-phone {
    display:block;
    margin-right: 10px;
}



.box-mail,
.box-phone {
    display: flex;
    align-items: center;
    justify-content: center;
}



.box-mail {
    margin-left: 345px;
}

.nav-link-item-p {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color: var(--main-color);
    
}
/* ============ END HEADER =========== */

/* ============ WHAT WE DO =========== */

.main-section,
.contact-box {
    background-color:var(--description-color);
}
.main-text {
font-weight: 900;
font-size: 44px;
line-height: 1.363;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--white-color);
}

.main-button {
    display: block;
font-weight: 700;
font-size: 16px;
line-height: 1.875;
letter-spacing: 0.06em;
background: var(--main-color);
color: var(--white-color);
cursor: pointer
}

.description-box {
    padding-top: 90px;
    justify-content: space-evenly;
    flex-basis: calc(100% / 4 -30px);
    display: flex;
}

.description-list {
    list-style-type: none;
    width: 270px;
}

.description-name {
    margin-bottom: 10px;
}

.description-name{
font-weight: 700;
font-size: 14px;
line-height: 1.142;
letter-spacing: 0.03em;
text-transform: uppercase;
color:var(--black-color);
}
.description-text{
display: block;
font-weight: 400;
font-size: 14px;
line-height: 1.714;
letter-spacing: 0.03em;
color: var(--address-color);
}

.second-heading {
font-weight: 700;
font-size: 36px;
line-height: 1.166;
text-align: center;
letter-spacing: 0.03em;
color:var(--black-color);
}

/* ============ END WHAT WE DO =========== */

/* ============ CREW =========== */
.crew-name {
font-weight: 500;
font-size: 16px;
line-height: 1.187;
text-align: center;
letter-spacing: 0.03em;
color:var(--black-color);
}

.member-stand {
font-weight: 400;
font-size: 16px;
line-height: 1.187;
text-align: center;
letter-spacing: 0.03em;
color: var(--description-color);
}
/* ============ END CREW =========== */

/* ============ CONTACT =========== */

.map-link {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.714;
letter-spacing: 0.03em;
color: var(--white-color);
}

.contact-link {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.714;
letter-spacing: 0.03em;
color:var(--address-color);
}

.map-link:hover,
.map-link:focus,
.contact-link:hover,
.contact-link:focus {
    color: var(--main-color);
}
/* ============ END CONTACT =========== */








/* ============ PORTFOLIO =========== */








/* ============ HEADER PORTFOLIO =========== */



.portfolio-link-item-P {
    color: var(--main-color);
}
.portfolio-link-item-P {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
}

.portfolio-link-item,
.portfolio-link-item {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color:var(--black-color);
}

.portfolio-link-item:focus,
.portfolio-link-item:hover,
.portfolio-link-item:focus, 
.portfolio-link-item:hover {
    color: var(--main-color);
}
/* ============ END HEADER PORTFOLIO =========== */

/* ============ MAIN PORTFOLIO =========== */
.btn-item {
font-family:var(--main-font) ;
font-weight: 500;
font-size: 16px;
line-height: 1.625;
text-align: center;
letter-spacing: 0.03em;
color: var(--black-color);
background:var(--crew-background);
padding: 0px;
}

.btn-item:hover,
.btn-item:focus {
background-color: var(--main-color);
cursor: pointer;
}

.img-name {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color:var(--black-color);

}

.function {
font-weight: 400;
font-size: 16px;
line-height: 1.875;
letter-spacing: 0.03em;
color:var(--address-color);
}
/* ============ END MAIN PORTFOLIO =========== */

/* ============ END PORTFOLIO =========== */
